In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("swissmetro.dat",'\t')
df = df.reset_index()
df.columns

Index(['index', 'GROUP', 'SURVEY', 'SP', 'ID', 'PURPOSE', 'FIRST', 'TICKET',
       'WHO', 'LUGGAGE', 'AGE', 'MALE', 'INCOME', 'GA', 'ORIGIN', 'DEST',
       'TRAIN_AV', 'CAR_AV', 'SM_AV', 'TRAIN_TT', 'TRAIN_CO', 'TRAIN_HE',
       'SM_TT', 'SM_CO', 'SM_HE', 'SM_SEATS', 'CAR_TT', 'CAR_CO', 'CHOICE'],
      dtype='object')

In [3]:
df['QuestionID'] = df['index'] - 9 * (df['ID'] - 1)
df

,index,GROUP,SURVEY,SP,ID,PURPOSE,FIRST,TICKET,WHO,LUGGAGE,...,TRAIN_CO,TRAIN_HE,SM_TT,SM_CO,SM_HE,SM_SEATS,CAR_TT,CAR_CO,CHOICE,QuestionID
0,0,2,0,1,1,1,0,1,1,0,...,48,120,63,52,20,0,117,65,2,0
1,1,2,0,1,1,1,0,1,1,0,...,48,30,60,49,10,0,117,84,2,1
2,2,2,0,1,1,1,0,1,1,0,...,48,60,67,58,30,0,117,52,2,2
3,3,2,0,1,1,1,0,1,1,0,...,40,30,63,52,20,0,72,52,2,3
4,4,2,0,1,1,1,0,1,1,0,...,36,60,63,42,20,0,90,84,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10723,10723,3,1,1,1192,4,1,7,1,0,...,13,30,93,17,30,0,156,56,2,4
10724,10724,3,1,1,1192,4,1,7,1,0,...,12,30,96,16,10,0,96,70,3,5
10725,10725,3,1,1,1192,4,1,7,1,0,...,16,60,93,16,20,0,96,56,3,6
10726,10726,3,1,1,1192,4,1,7,1,0,...,16,30,96,17,30,0,96,91,2,7
10727,10727,3,1,1,1192,4,1,7,1,0,...,13,60,96,21,30,0,120,70,3,8

In [4]:
attributes = ['TRAIN_AV',
       'CAR_AV', 'SM_AV', 'TRAIN_TT', 'TRAIN_CO', 'TRAIN_HE', 'SM_TT', 'SM_CO',
       'SM_HE', 'SM_SEATS', 'CAR_TT', 'CAR_CO', 'CHOICE']
socioeco = list(set(df.columns) - set(attributes))
se = df.loc[df['QuestionID'] == 1, socioeco]
se

,INCOME,FIRST,PURPOSE,DEST,TICKET,LUGGAGE,MALE,ID,SP,SURVEY,GROUP,ORIGIN,QuestionID,GA,WHO,AGE,index
1,2,0,1,1,1,0,0,1,1,0,2,2,1,0,1,3,1
10,1,0,1,1,1,1,0,2,1,0,2,22,1,0,1,2,10
19,2,0,1,25,1,1,1,3,1,0,2,10,1,0,1,2,19
28,3,0,1,2,1,1,1,4,1,0,2,19,1,0,1,2,28
37,3,0,1,17,1,1,1,5,1,0,2,21,1,0,1,2,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,2,1,4,10,6,1,1,1188,1,1,3,1,1,0,1,3,10684
10693,2,1,4,22,6,1,1,1189,1,1,3,25,1,0,1,3,10693
10702,2,1,4,25,6,1,1,1190,1,1,3,2,1,0,1,4,10702
10711,3,1,4,3,6,1,1,1191,1,1,3,25,1,0,1,3,10711
10720,3,1,4,20,7,0,1,1192,1,1,3,2,1,0,1,5,10720

In [5]:
panel = pd.pivot_table(data = df, index = ['ID'], columns = ['QuestionID'], values = attributes)
panel = panel.reset_index()
panel.columns = ['ID'] + ['_'.join((i,f'{j}')) for i, j in panel.columns[1:]]
panel

,ID,CAR_AV_0,CAR_AV_1,CAR_AV_2,CAR_AV_3,CAR_AV_4,CAR_AV_5,CAR_AV_6,CAR_AV_7,CAR_AV_8,...,TRAIN_HE_8,TRAIN_TT_0,TRAIN_TT_1,TRAIN_TT_2,TRAIN_TT_3,TRAIN_TT_4,TRAIN_TT_5,TRAIN_TT_6,TRAIN_TT_7,TRAIN_TT_8
0,1,1,1,1,1,1,1,1,1,1,...,60,112,103,130,103,130,112,103,103,130
1,2,0,0,0,0,0,0,0,0,0,...,60,184,170,213,170,213,184,170,170,213
2,3,1,1,1,1,1,1,1,1,1,...,30,58,58,58,47,51,51,51,51,58
3,4,1,1,1,1,1,1,1,1,1,...,60,138,138,138,105,116,116,116,138,116
4,5,0,0,0,0,0,0,0,0,0,...,60,269,243,320,243,320,269,243,243,320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187,1188,1,1,1,1,1,1,1,1,1,...,60,180,180,180,140,153,153,153,180,153
1188,1189,1,1,1,1,1,1,1,1,1,...,30,117,90,117,99,99,90,90,90,99
1189,1190,1,1,1,1,1,1,1,1,1,...,60,160,160,160,124,136,136,136,160,136
1190,1191,1,1,1,1,1,1,1,1,1,...,60,281,281,281,221,241,241,241,281,241
1191,1192,1,1,1,1,1,1,1,1,1,...,60,178,178,178,133,148,148,148,178,148

In [6]:
swissmetro = panel.merge(se, on='ID', how='left')
swissmetro.columns

Index(['ID', 'CAR_AV_0', 'CAR_AV_1', 'CAR_AV_2', 'CAR_AV_3', 'CAR_AV_4',
       'CAR_AV_5', 'CAR_AV_6', 'CAR_AV_7', 'CAR_AV_8',
       ...
       'MALE', 'SP', 'SURVEY', 'GROUP', 'ORIGIN', 'QuestionID', 'GA', 'WHO',
       'AGE', 'index'],
      dtype='object', length=134)

In [7]:
swissmetro.to_csv('swissmetro_panel.dat', sep='\t')